/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* End Reset */

/* Font */
html {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

#price {
    font-weight: 700;
    font-size: 2rem;
}

/* Colors */
body {
    background-color: hsl(204, 43%, 93%);
}

#join {
    background-color: white;
}

#join h2 {
    color: hsl(179, 62%, 43%);
}

#join h3 {
    color: hsl(71, 73%, 54%);
}

#join p {
    color: hsl(218, 22%, 67%);
}

#bottom {
    color: white;
}

#subscribe {
    background-color: hsl(179, 62%, 43%);
}

#per-month {
    opacity: .8;
}

#why {
    background-color: hsl(179, 62%, 43%);
    opacity: .8;
}

/* Rounded corners and drop-shadow */
#pricing-card {
    -webkit-box-shadow: 4px 4px 5px 1px #A0A0A0;
    box-shadow: 4px 4px 5px 1px #A0A0A0;
    border-radius: 10px;
    overflow: hidden;
}

/* Layout: mobile first */
#pricing-card {
    width: 300px;
    margin: 50px auto;
}

#join, #subscribe, #why {
    padding: 20px;
}

p, h2, h3 {
    padding: 10px;
}

ul {
    list-style: none;
    padding: 10px;
}

button {
    margin-top: 20px;
}

/* Place price and per-month side by side. */
#price-section {
    padding: 10px;
    display: flex;
}

#price {
    padding-right: 10px;
    line-height: 20px;
}

#per-month {
    line-height: 20px;
}

/* Button */
button {
    background-color:hsl(71, 73%, 54%);
    color: white;
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

button:hover {
    opacity: .8;
}

/* Desktop design */
@media screen and (min-width: 650px) {

    #pricing-card {
        margin: 150px auto;
        width: 600px;
    }

    #bottom {
        display: flex;
    }

    #subscribe {
        width: 50%;
    }

    #why {
        width: 50%;
    }
}