:root {
    --leftPadding: 80px;
}

html, h2, h3, p {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

#pricing-card {
    margin: 150px auto;
    width: 900px;
    height: 600px;
}

#join {
    width: 100%;
    height: 40%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

#join h3 {
    color: hsl(71, 73%, 54%);
    padding: 0px 20px 10px var(--leftPadding);
}

#join h2 {
    color: hsl(179, 62%, 43%);
    padding: 30px 30px 30px var(--leftPadding);
}

#join p {
    color: hsl(218, 22%, 67%);
    padding: 10px 20px 10px var(--leftPadding);
}

#bottom {
    width: 100%;
    height: 60%;
    display: flex;
    color: white;
}

#bottom h3 {
    padding: 30px 30px 30px var(--leftPadding);
}

#subscribe {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
}

#why {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    opacity: .8;
    border-bottom-right-radius: 10px;
}

#why ul {
    padding: 0px 0px 0px var(--leftPadding);
    list-style: none;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    margin: 10px 10px 10px var(--leftPadding);
    font-size: 1.25rem;
}

#price-section {
    display: flex;
    height: 50px;
    line-height: 50px;
}

#price {
    margin: 0px 5px 0px var(--leftPadding);
    font-size: 2rem;
    font-weight: bold;
}

#subscribe p {
    margin: 10px 0px 20px var(--leftPadding);
}

#per-month {
    opacity: .5;
}

button:hover {
    opacity: .8;
}